helga>=1.7.5
helga-craigslist-meta
helga-dubstep
helga-giphy
helga-github-meta
helga-icanhazascii
helga-isup
helga-karma
helga-lingo
helga-log-reader
helga-loljava
helga-markovify
helga-meant-to-say
helga-oneliner
helga-poems
helga-quip
helga-reminders
helga-roll
helga-stfu
helga-weather
helga-youtube-meta
