Twisted==16.0.0
Unidecode==0.4.19
arrow==0.5.4
beautifulsoup4==4.4.1
cffi==1.5.2
craigslist-scraper==1.0.4
cryptography==1.3.1
decorator==4.0.9
enum34==1.1.2
giphypop==0.2
helga==1.7.2
helga-craigslist-meta==1.0.0
helga-dubstep==0.1.0
helga-giphy==0.1.1
helga-github-meta==1.0.0
helga-icanhazascii==0.1.0
helga-isup==0.2.2
helga-karma==1.3.0
helga-lingo==1.0.2
helga-log-reader==1.0.1
helga-loljava==0.1.0
helga-markovify==1.0.11
helga-meant-to-say==0.1.0
helga-oneliner==0.1.0
helga-poems==0.1.0
helga-quest==1.0.1
helga-quip==1.1.0
helga-reminders==0.1.1
helga-roll==1.0.2
helga-stfu==0.1.0
helga-weather==1.0.1
helga-youtube-meta==1.0.9
idna==2.1
ipaddress==1.0.16
jaraco.apt==1.0
jaraco.classes==1.2
jaraco.collections==1.1
jaraco.context==1.3
jaraco.functools==1.2
jaraco.modb==3.3
jaraco.text==1.3
jsonpickle==0.9.2
markovify==0.2.5
oauthlib==1.0.3
pyOpenSSL==16.0.0
pyasn1==0.1.9
pycparser==2.14
pymongo==3.2.2
pystache==0.5.4
python-dateutil==2.4.2
pytz==2015.2
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
smokesignal==0.7.0
tweepy==3.5.0
wsgiref==0.1.2
yg.lockfile==2.0
zc.lockfile==1.1.0
zope.interface==4.1.3
