OPERATORS = ['admin']

ENABLED_PLUGINS = [
    'dubstep',
    'facts',
    'help',
    'loljava',
    'manager',
    'meant_to_say',
    'operator',
    'poems',
    'reminders',
    'stfu',
    'webhooks',
    'giphy',
    'log-reader',
]
